<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اخدمني- تسجيل الدخول</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/~/login/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/login/login.css">
    </head>


    <body>
	<!-- HEADER -->
	

    <div class="container">
        <main >
            @RenderBody()
        </main>
    </div>

   

	<!-- FOOTER -->
    <footer id="footer">
    </footer>
	<!-- FOOTER -->

    <script src="~/login/login.js">  </script>
    

    </body>
</html>
