
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="~/services/css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="~/services/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="~/services/css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="~/services/css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="~/services/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/services/css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
    <header>
		<!-- HEADER -->
		
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> SevrveMe@email.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> المكلا_الغيل_الشحر</a></li>
					</ul>
					<ul class="header-links pull-right">

						<li><a href="#"><i class="fa fa-user-o"></i> حسابي</a></li>

					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->
			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="services/img/services/logoseveme.png" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->
						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form>

									<input class="input" placeholder="تسرنا خدمتك">
									<button class="search-btn">أبحث</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->
						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Wishlist -->
								<!-- /Wishlist -->
								<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<span>حجوزاتي</span>
										<div class="qty">3</div>
									</a>

									<!-- /Cart -->
									<!-- Menu Toogle -->
									<div class="menu-toggle">
										<a href="#">
											<i class="fa fa-bars"></i>
											<span>القائمة</span>
										</a>
									</div>
									<!-- /Menu Toogle -->
								</div>
							</div>
							<!-- /ACCOUNT -->
						</div>
						<!-- row -->
					</div>
					<!-- container -->
				</div>
				<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->
		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="#">الصفحة الرئيسية</a></li>
						<li><a href="#">حفلات أعراس</a></li>
						<li><a href="#">حفلات تخرج</a></li>
						<li><a href="#">السياحة و الترفية</a></li>
						<li><a href="#">أخدمني</a></li>
						<li><a href="#">المدونة</a></li>

					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

    </header>
    <div ">
        <main >
            @RenderBody()
        </main>
    </div>


	<!-- FOOTER -->
	<footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">منصة أخدمني</h3>
							<p>أخدمني هي منصة خدمات اجتماعية تساعدك في تنظيم وإدارة المناسبات والفعاليات بسهولة واحترافية.</p>
							<ul class="footer-links">
								<li><a href="#"><i class="fa fa-map-marker"></i>المكلا الغيلل الشحر</a></li>
								<li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
								<li><a href="#"><i class="fa fa-envelope-o"></i>ServeMe@email.com</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">روابط سريعة</h3>
							<ul class="footer-links">
								<li><a href="#">🏠 الرئيسية</a></li>
								<li><a href="#">🎉 حفلات الأعراس<</a></li>
								<li><a href="#">🎓 حفلات التخرج</a></li>
								<li><a href="#">🏝️ السياحة والترفيه</a></li>
								<li><a href="#">📜 المدونة</a></li>
							</ul>
						</div>
					</div>

					<div class="clearfix visible-xs"></div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">الدعم والمساعدة</h3>
							<ul class="footer-links">
								<li><a href="#">🔹 سياسة الخصوصية</a></li>
								<li><a href="#">🔹 شروط الاستخدام</a></li>
								<li><a href="#">🔹 الأسئلة الشائعة</a></li>
								<li><a href="#">🔹 تواصل معنا</a></li>

							</ul>
						</div>
					</div>


					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->
			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">


							<p class="mb-2">تابعنا على وسائل التواصل الاجتماعي</p>
							<a href="#" class="ml-3 text-white"><i class="fa fa-facebook fa-lg"></i></a>
							<a href="#" class="ml-3 text-white"><i class="fa fa-twitter fa-lg"></i></a>
							<a href="#" class="ml-3 text-white"><i class="fa fa-instagram fa-lg"></i></a>
							<a href="#" class="ml-3 text-white"><i class="fa fa-youtube fa-lg"></i></a>

						</div>
						<span class="copyright">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							&copy;<script>document.write(new Date().getFullYear());</script>   جميع الحقوق محفوظة | أخدمني<i class="fa fa-heart-o" aria-hidden="true"></i>  <a href="https://colorlib.com" target="_blank"></a>

						</span>


					</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bottom footer -->
	</footer>
	<!-- jQuery Plugins -->
	<script src="~/services/js/jquery.min.js"></script>
	<script src="~/services/js/bootstrap.min.js"></script>
	<script src="~/services/js/slick.min.js"></script>
	<script src="~/services/js/nouislider.min.js"></script>
	<script src="~/services/js/jquery.zoom.min.js"></script>
	<script src="~/services/js/main.js"></script>
	<!-- /FOOTER -->
</body>
</html>
