@model SERVE_ME_PROJECT.Models.BannerModel

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdmin";

}

<h1>التفاصيل </h1>

<div>
     <hr />
    <dl class="row">
        <dt class = "col-sm-2">مرجع الصورة         </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">تعديل</a>
    <a asp-action="Index" class="btn btn-outline-primary">الرجوع للقائمة</a>
</div>
