
@{
	Layout = "_LayoutServeMe";
}
<!-- Hero Section -->
<section id="hero" class="hero section">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up" style="text-align: right; direction: rtl;">
                    أخدمني

                </h1>
                <p data-aos="fade-up" data-aos-delay="100" style="text-align: right; direction: rtl;">                     أخدمني  منصة حضرمية   تساعد كافة المستخدمين لخدمتهم   فى اسرع وقت بسهولة و بأقل تكلفة من خلال تقييم خيارات متعددة لمزودى خدمات تم إختيارهم بعناية فائقة بما يتناسب مع شروط منصة  أخدمني</p>

                <div class="d-flex flex-column flex-md-row" data-aos="fade-up" data-aos-delay="200">
                    <a href="#about" class="btn-get-started">منصة أخدمني <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                <img src="~/serveme/assets/img/logoServe.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- /Hero Section -->
<!-- Values Section -->
<section id="values" class="values section">

    <!-- Section Title -- Features Section -->
    <section id="policyRight" class="features section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>سياسة الموقع</h2>
            <p>بيان الحقوق<br></p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-5">

                <div class="col-xl-6" data-aos="zoom-out" data-aos-delay="100">
                    <img src="~/serveme/assets/img/hero-img.png" class="img-fluid" alt="">
                </div>

                <div class="col-xl-6 d-flex">
                    <div class="row align-self-center gy-4">

                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3 style="text-align: right; direction: rtl;">
                                    يضمن أخدمني لمشتري ومقدمي الخدمات حقوقهم عبر سياسات صارمة تكفل السلامة والموثوقية لعمليات بيع وشراء الخدمات

                                </h3>
                            </div>
                        </div><!-- End Feature Item -->

                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3 style="text-align: right; direction: rtl;">
                                    دعم فني على مدار 24 ساعة
                                </h3>
                            </div>
                        </div><!-- End Feature Item -->

                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3 style="text-align: right; direction: rtl;">
                                    يضم أخدمني آلاف البائعين الذين وثقوا هوياتهم عبر نظام توثيق هوية الحساب. ضماناً لتعاملات أكثر أماناً وجدية

                                </h3>
                            </div>
                        </div><!-- End Feature Item -->





                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- Services Section -->
    <section id="services" class="services section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>سياسة الموقع</h2>
            <p>بيان الخصوصية<br></p>
        </div><!-- End Section Title -->






        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item item-cyan position-relative">
                        <i class="bi bi-activity icon"></i>
                        <h3>
                            الخصوصية
                        </h3>

                        <p>
                            يلتزم إدارة الموقع في حدود المسموح لها وفق القانون المنظم، بعدم كشف أي معلومات شخصية عن المستخدم مثل العنوان أو رقم الهاتف أو عنوان البريد الإلكتروني وغيرها. علاوة على ذلك، لن يتم تبادل، أو تداول أي من تلك المعلومات أو بيعها لأي طرف آخر طالما كان ذلك في حدود قدرات إدارة الموقع الممكنة، ولن يُسمح بالوصول إلى المعلومات إلا للأشخاص المؤهلين والمحترفين الذين يشرفون على منصة أخدمني الإلكتروني



                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item item-orange position-relative">
                        <i class="bi bi-broadcast icon"></i>
                        <h3>
                            انتفاء المسؤولية القانونية
                        </h3>
                        <p>
                            يقر المستخدم بأنه المسؤول الوحيد عن طبيعة الاستخدام الذي يحدده للموقع الإلكتروني أخدمني وتخلي إدارة موقع أخدمني طرفها إلى أقصى مدى يجيزه القانون، من كامل المسؤولية عن أية خسائر أو أضرار أو نفقات أو مصاريف يتكبدها المستخدم أو يتعرض لها هو أو أي طرف آخر من جراء استخدام الموقع الإلكتروني أخدمني أو العجز عن استخدامه.


                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item item-teal position-relative">
                        <i class="bi bi-easel icon"></i>
                        <h3>
                            حالات انقطاع الخدمة والسهو والخطأ
                        </h3>
                        <p>
                            تبذل إدارة الموقع قصارى جهدها للحرص والحفاظ على استمرار عمل الموقع الإلكتروني بدون مشاكل، رغم ذلك قد تقع في أي وقت أخطاء وحالات سهو وانقطاع للخدمة وتأخير لها، وفي مثل هذه الحالات سنتوقع من المستخدمين الصبر حتى تعود الخدمة إلى الحالة الطبيعية.


                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-item item-red position-relative">
                        <i class="bi bi-bounding-box-circles icon"></i>
                        <h3>
                            الحساب المشترك وكلمة السر وأمن المعلومات
                        </h3>
                        <p>
                            يختار المشترك كلمة سر / مرور لحسابه، وبريداً الكترونياً خاصاً به لمراسلته عليه، وتكون مسؤولية حماية البريد وكلمة السر وعدم مشاركتها أو نشرها على المشترك و أن موقع أخدمني يخلي مسؤوليته



                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-item item-indigo position-relative">
                        <i class="bi bi-calendar4-week icon"></i>
                        <h3>التسجيل</h3>
                        <p>
                            يوافق المشترك عند تسجيله في الموقع بأن المعلومات المدخلة من طرفه هي كاملة ودقيقة، ويلتزم بأنه لن يقوم بالتسجيل في الموقع أو يحاول دخوله منتحلاً اسم مشترك آخر ولن يستخدم اسماً قد ترى الإدارة أنه غير مناسب، مثل أرقام الهواتف، والأسماء المنتحلة لشخصيات شهيرة، وروابط المواقع، والأسماء غير المفهومة، وما في حكمها. كذلك يلتزم بعدم تسجيل أكثر من حساب واحد في منصة أخدمني وعند استخدام نفس الشخص لأكثر من حساب فإنه يعرض كافة حساباته للإيقاف بشكل نهائي دون العودة إليه.

                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-item item-pink position-relative">
                        <i class="bi bi-chat-square-text icon"></i>
                        <h3>
                            الرقابة على المحتوى
                        </h3>
                        <p>
                            تحتفظ إدارة منصة أخدمني الإلكتروني بالحق في مراقبة أي محتوى يدخله المشترك دون أن يكون ذلك لزاماً عليها، ذلك أنها لا تستطيع مراقبة كل مدخلات المشتركين، لذا تحتفظ بالحق (من دون التزام) في حذف أو إزالة أو تحرير أي مواد مدخلة من شأنها انتهاك شروط وأحكام الموقع دون الرجوع للمستخدم

                        </p>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>

    </section><!-- /Services Section -->
    <!-- Features Section -->
    <section id="features" class="features section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>سياسة المنصة </h2>
            <p>  شروط الأستخدام<br></p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-5">

                <div class="col-xl-6" data-aos="zoom-out" data-aos-delay="100">
                    <img src="~/serveme/assets/img/2.png" class="img-fluid" alt="">
                </div>

                <div class="col-xl-6 d-flex">
                    <div class="row align-self-center gy-4">

                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3 style="text-align: right; direction: rtl;">
                                    تمنع منصة أخدمني عرض أي مواد لا يمتلك المستخدم حقوقها، ولأخدمني الحق بحذف المحتوى وإيقاف حساب المستخدم بهذه الحالة

                                </h3>

                            </div>
                        </div><!-- End Feature Item -->

                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3 style="text-align: right; direction: rtl;">
                                    يجب أن لا يقل عمر المستخدم عن 18 عاما

                                </h3>
                            </div>
                        </div><!-- End Feature Item -->

                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3 style="text-align: right; direction: rtl;">
                                    تلتزم إدارة الموقع في حدود المسموح لها وفق القانون المنظم، بعدم كشف أي معلومات شخصية عن المستخدم مثل العنوان أو رقم الهاتف أو عنوان البريد الإلكتروني وغيرها.
                                </h3>
                            </div>
                        </div><!-- End Feature Item -->

                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>  ولن يُسمح بالوصول إلى المعلومات إلا للأشخاص المؤهلين والمحترفين الذين يشرفون على منصة أخدمني </h3>
                            </div>
                        </div><!-- End Feature Item -->

                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3 style="text-align: right; direction: rtl;">
                                    يجب على المستخدم تقديم معلومات صحيحة وكاملة في حسابه
                                </h3>
                            </div>
                        </div><!-- End Feature Item -->

                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="700">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3 style="text-align: right; direction: rtl;">
                                    يتم ايقاف الحساب في حالة محاولة الإضرار أو الاساءة منصة أخدمني

                                </h3>
                            </div>
                        </div><!-- End Feature Item -->

                    </div>
                </div>

            </div>

        </div>

