@model ServiceModel
@{
    ViewData["Title"] = "تعديل الخدمة";
    Layout = "_LayoutProvid";

}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>عنوان الخدمة</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>وصف الخدمة</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>المدينة</label>
        <select asp-for="CityId" asp-items="ViewBag.Cities" class="form-select"></select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>التصنيف</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>نوع الخدمة</label>
        <select asp-for="TypeServiceId" asp-items="ViewBag.ServiceTypes" class="form-select"></select>
        <span asp-validation-for="TypeServiceId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label>سعر الخدمة</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">تحديث الخدمة</button>
</form>

