@model SERVE_ME_PROJECT.Models.GeneralSettingsModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutAdmin";
}

 
<h4>تعديل </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SiteName" class="control-label"></label>
                <input asp-for="SiteName" class="form-control" />
                <span asp-validation-for="SiteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteLogo" class="control-label"></label>
                <input asp-for="SiteLogo" class="form-control" type="file"/>
                <span asp-validation-for="SiteLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteDescription" class="control-label"></label>
                <input asp-for="SiteDescription" class="form-control" />
                <span asp-validation-for="SiteDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactEmail" class="control-label"></label>
                <input asp-for="ContactEmail" class="form-control" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPhone" class="control-label"></label>
                <input asp-for="ContactPhone" class="form-control" />
                <span asp-validation-for="ContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacebookLink" class="control-label"></label>
                <input asp-for="FacebookLink" class="form-control" />
                <span asp-validation-for="FacebookLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwitterLink" class="control-label"></label>
                <input asp-for="TwitterLink" class="form-control" />
                <span asp-validation-for="TwitterLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstagramLink" class="control-label"></label>
                <input asp-for="InstagramLink" class="form-control" />
                <span asp-validation-for="InstagramLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkedInLink" class="control-label"></label>
                <input asp-for="LinkedInLink" class="form-control" />
                <span asp-validation-for="LinkedInLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@