@model SERVE_ME_PROJECT.Models.BlogModel

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Details";
}

<h1>تفاصيل المدونة</h1>

<div>
     <hr />
    <dl class="row">
        <dt class = "col-sm-2">العنوان         </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">التفاصيل         </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">الصورة         </dt>
        <dd class = "col-sm-10">
            <img src="/img/@Model.ImgUrl" />
         </dd>
        <dt class = "col-sm-2">تاريخ النشر         </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">تعديل </a>  
    <a asp-action="Index" class="btn btn-outline-primary">العودة للقائمة </a>
</div>
