@model SERVE_ME_PROJECT.Models.BlogModel

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Edit";
}

 
<h4>تعديل مدونة </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"> العنوان</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"> التفاصيل </label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label"> الصورة </label>
                <input asp-for="ImgUrl" class="form-control" type="file"/>
                <span asp-validation-for="ImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SentDate" class="control-label"> تاريخ الارسال </label>
                <input asp-for="SentDate" class="form-control" />
                <span asp-validation-for="SentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-primary"> العودة للقائمة </a>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@